@import url('https://fonts.googleapis.com/css2? family=Lilita+One&family=Noto+Sans+JP&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-image: url(../img/fundo.jpg);
    background-size: 100%;
}

.filme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.filme__ladoa {
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.filme__imagem {
    display: flex;
    justify-content: center;
    align-items: center; 

    width: 80%;
    height: 80%;
}

.filme__ladob {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.filme__sinopse {
    width: 100%;
    height: 10%;

    padding: 5%;

}

.filme__sinopse {
    width: 100%;
    height: 30%;

    padding: 5%;
}

